{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet">
    <script src="{% static 'login/js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'login/js/jquery.cookie.js' %}"></script>
    <!--<script src="{% static 'login/js/login.js' %}"></script>-->
    <link rel="shortcut icon" href="{% static 'img/tit.png' %}"/>

</head>
<body>
<!--头部-->
<div class="top">
    <div class="top_content">
        <div class="top_left">
            <p><i class="icon03"></i> <span id="address">上海<i class="trans"></i></span> 满百包邮（环郊内）<a href="#" style="color: #64a131">星夜达</a></p>
        </div>
        <div class="top_right">
            <ul>
                <li><a class="act" href="login.html">[登录]</a></li>
                <li><a class="act" href="register.html">[注册有惊喜] </a>|</li>
                <li id="notice"><a href="#">果园公告 </a>
                    <div id="top_right_notice">
                        <ul>
                            <li>全仓2000元充值活动调整公告<i><img src="{% static 'img/new.png'%}"></i></li>
                            <li>全仓2000元充值活动调整公告<i><img src="{% static 'img/new.png'%}"></i></li>
                            <li>全仓充值活动调整公告</li>
                        </ul>
                        <a>查看更多 &gt;</a>
                    </div>
                </li>
                <li>|<a class="act" href="#">券卡兑换 </a>|</li>
                <li id="phone"><a href="#"><i class="icon01"></i> 手机果园</a>
                    <!--隐藏的盒子-->
                    <div id="top_right_phone">
                        <p><span>下载果园app，</span>既享果园特价商品</p>
                        <div class="phone_top">
                            <div class="phone_top_left"><img src="{% static 'img/phone2.jpg'%}"></div>
                            <div class="phone_top_right"><img src="{% static 'img/guan_btn01.jpg'%}"><br><img src="{% static 'img/guan_btn01.jpg'%}"></div>
                        </div>
                        <hr>
                        <div class="phone_bottom">
                            <div class="phone_bottom_left"><img src="{% static 'img/phone1.jpg'%}"></div>
                            <div class="phone_bottom_right"><p><span>关注果园微信</span><br>优惠信息实时掌握</p></div>
                        </div>
                    </div>
                </li>
                <li><a href="#" style="width: 150px; font-weight: bold"><i class="icon02"></i>400-720-0770</a></li>
            </ul>
        </div>
    </div>
</div>

<!--logo-->
<div class="logo">
    <a href="index.html"><img src="{% static 'img/logo.svg'%}"></a>
</div>

<!--中间部分-->
<div class="main">
    <div class="main_content">
        <p>注册会员</p>
        <div>
            <div class="main_img">
                <img src="{% static 'img/main.jpg'%}">
                <input class="login" type="button" value="会员登录>" title="点击此按钮，登录会员账号">
            </div>
            <div class="main_form">
                  <form action="{% url 'app:register' %}" method="post">
            {% csrf_token %}
                    <div class="main_input">
                        <label for="phone_num">手机号</label><input name="phone_num" type="text">
                        <i id="i_phone_num"><img src=""></i>
                    </div>
                    <div class="main_input">
                        <label for="password">密码</label>
                        <input name="password" type="password" placeholder="请输入6-20位号码字符">
                        <i id="i_password"><img src=""></i>
                    </div>

                    <div class="re_password">
                        <input type="checkbox"><label>记住密码</label>
                        <a href="#">忘记密码？</a>&nbsp;<a href="#">快捷登录</a>
                    </div>

                    <input id="login_btn" type="submit" value="登录">
                    <a href="../register/register.html"><input id="register_btn" type="button" value="注册会员"></a>
                </form>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<div class="icons">
    <div class="icons_content">
        <ul>
            <li class="icons_01"></li>
            <li class="icons_02"></li>
            <li class="icons_03"></li>
            <li class="icons_04"></li>
        </ul>
    </div>
</div>

<div class="info">
    <div class="info_content">
        <div class="info_logo">
            <img src="{% static 'img/logo.svg'%}">
            <p>服务时间<span> 08:00 - 22:00</span></p>
        </div>
        <div class="info_wechat">
            <img src="{% static 'img/phone1.jpg'%}">
            <p>天天果园官网微信</p>
        </div>
        <div class="info_app">
            <img src="{% static 'img/phone2.jpg'%}">
            <p>天天果园app</p>
        </div>
        <div class="info_table">
            <table>
                <tbody><tr>
                    <th>购物指南</th>
                    <th>配送说明</th>
                    <th>售后服务</th>
                    <th>企业服务</th>
                </tr>
                <tr>
                    <td>新用户注册</td>
                    <td>运费说明</td>
                    <td>退换货规则</td>
                    <td>企业订购</td>
                </tr>
                <tr>
                    <td>在线下单</td>
                    <td>运费方式</td>
                    <td>服务保障承诺</td>
                    <td>公司简介</td>
                </tr>
                <tr>
                    <td>支付方式</td>
                    <td>发票说明</td>
                    <td>验货与签售</td>
                    <td>定制专区</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

<div class="copy">
    <p>版权所有 ©2015天天果园 保留所有版权 |沪ICP备12042163</p>
    <span>天天果园 鲜果网站</span><br>
    <span><img src="{% static 'img/guan_shgs.gif'%}">&nbsp;&nbsp;<img src="{% static 'img/guan_wgdjp.png'%}"></span>
</div>
</body>
</html>